body {
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    border-bottom: 1px solid #BEBEBE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 32px;
}

.logo img {
    width: 60px;
}

.header-icons img {
    margin-right: 20px;
}

main {
    flex: 1;
    display: flex;
}

nav {
    width: 274px;
    background: #F5FBFF;
    border-right: 1px solid #BEBEBE;
    padding: 12px 8px;
}

.upload,
.my-fridge,
.profile {
    margin-bottom: 14px;
}

.upload {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.upload h2 {
    font-size: 16px;
    font-weight: 800;
}

summary img {
    width: 19px;
    height: 19px;
    margin-left: 2px;
}

summary {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    list-style: none;
    font-weight: 800;
    line-height: 1.5;
}

details p {
    margin-top: 7px;
    margin-left: 33px;
    font-size: 14px;
    cursor: pointer;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.content h1 {
    font-size: 64px;
    font-weight: 400;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 2px solid #50AAFF;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

.btn img {
    width: 24px;
}

footer {
    height: 70px;
    border-top: 1px solid #BEBEBE;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 14px;
}